.gallery .splide__pagination {
  gap: 8px;
  margin-top: 2rem;
}

.gallery .splide__pagination__page {
  width: 8px;
  height: 8px;
  padding: 0;
  border: 0;
  border-radius: 9999px;
  background-color: var(--color-border);
  cursor: pointer;
}

.gallery .splide__pagination__page.is-active {
  background-color: var(--color-primary);
}
